{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dashboard</title>
        <link rel="icon" href="{% static 'img/endear_logo.ico' %}" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="canonical" href="https://endear.herokuapp.com/dashboard" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta property="og:url" content="https://endear.herokuapp.com/" />
        <meta property="referrer" content="no-referrer-when-downgrade" />
        <meta property="HandheldFriendly" content="True" />
        <meta property="MobileOptimized" content="360" />
        <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1" />
        <meta name="robots" content="index,follow" />
        <meta name="googlebot" content="index,follow" />
        <meta name="description" content="Dashboard for the Endear website"/>
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Dashboard | Endear." />
        <meta property="og:description" content="Find love around the world with seven stops."/>
        <meta property="og:image" content="{% static 'img/endear_logo.png' %}"/>
        <meta property="og:image:width" content="1280" />
        <meta property="og:image:height" content="720" />
        <meta property="og:site_name" content="Endear" />
        <meta property="keywords" content="love, matchmaking, university, college, crush" />
        <meta name="twitter:title" content="Find love around the world with seven stops" />
        <meta name="twitter:image" content="{% static 'img/endear_logo.png' %}"/>
        <meta property="og:image:type" content="image/png" />
        <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    </head>
    <body>
        <div class="dashboard-header">
            <img class="logo" src="{% static 'img/endear_logo_white.png' %}" alt="endear logo" />
            <div class="dashboard-header-text">
                <p class="text-logo">endear</p>
            </div>
            <div class="header-right">
                <a class="logout-button" href="{% url 'logout' %}">Log Out</a>
            </div>
        </div>
        <div class="middle-section">
            <div class="tab-row">
                <a class="tab-width" href="javascript:void(0)" onclick="loadCrushes(event, 'user_crush');">
                    <div class="tab-title tablink">Your crushes</div>
                </a>
                <a class="tab-width" href="javascript:void(0)" onclick="loadCrushes(event, 'new_crushes');">
                    <div class="tab-title tablink">New Crushes</div>
                </a>
            </div>
            <div id="user_crush" class="tab-container all-tabs" style="display: block;">
                <div class="centered">
                    <div class="top-div">You have not chosen any crushes yet.</div>
                    <div class="bottom-div"><a class="add-crush-button" href="#">Add your crush</a></div>
                </div>
            </div>
            <div id="new_crushes" class="tab-container all-tabs" style="display:none">
                <div class="card-container">
                    <div class="card">
                        <div class="inner-card">
                            <div class="user">
                                <img class="profile-image" src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo" alt="user" />
                                <div class="user-info">
                                    <h5>Hidden</h5>
                                    <small>19th February, 2022</small>
                                    <p>xxxxxxxxx@uni.minerva.edu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="{% static 'js/index.js' %}"></script>
</html>