{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="{% static 'img/endear_logo.ico' %}" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="canonical" href="https://endear.herokuapp.com/" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta property="og:url" content="https://endear.herokuapp.com/" />
        <meta property="referrer" content="no-referrer-when-downgrade" />
        <meta property="HandheldFriendly" content="True" />
        <meta property="MobileOptimized" content="360" />
        <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1" />
        <title>
        Endear | Find your Crush
        </title>
        <meta name="robots" content="index,follow" />
        <meta name="googlebot" content="index,follow" />
        <meta name="description" content="Find the person who crushes you but you never knew... and vice versa"/>
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Find love around the world with seven stops." />
        <meta property="og:description" content="Find love around the world with seven stops."/>
        <meta property="og:image" content="{% static 'img/endear_logo.png' %}"/>
        <meta property="og:image:width" content="1280" />
        <meta property="og:image:height" content="720" />
        <meta property="og:site_name" content="Endear" />
        <meta property="keywords" content="love, matchmaking, university, college, crush" />
        <meta name="twitter:title" content="Find love around the world with seven stops" />
        <meta name="twitter:image" content="{% static 'img/endear_logo.png' %}"/>
        <meta property="og:image:type" content="image/png" />
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" data-href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&amp;display=swap" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
        <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    </head>
    <body>
        <section class="header text-center text-light">
            <div class="background"></div>
            <div class="inner-container">
                <div class="header-text">
                    <div class="header-margin">
                        <h1 class="mt-0">Get a chance to know which Minervan has a crush on you.</h1>
                        <h3>Enter the email of your crush and match with them if they have a crush on you too.</h3>
                        <div>
                            <a class="authenticate-button" href="{% url 'social:begin' 'google-oauth2' %}"><i class="fab fa-google"></i>&nbsp;&nbsp;Authenticate</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-container">
                <h2 class="faq-text">Frequently Asked Questions</h2>
                <button type="button" class="collapsible">What is Endear?</button>
                <div class="collapse-content">
                    <p class="collapse-text">Endear is an always free-to-use platform for finding your secret crush at Minerva. The platform is made by Minervans for Minervans and is founded on privacy, safety and mindful social connection. To use the website, you simply log in with your Minerva email, adding your crush and see whether your crush likes you back.</p>
                </div>
                <button type="button" class="collapsible">How do you ensure security of the platform?</button>
                <div class="collapse-content">
                    <p class="collapse-text">We believe security is in solid engineering. Therefore, we have reduced the number of moving parts by using social sign on, secure form submission and incorporated security checks during deployment. All activity on the website such as the types of requests are logged and monitored to detect malicious entry when it happens.</p>
                </div>
                <button type="button" class="collapsible">How much data do you collect?</button>
                <div class="collapse-content">
                    <p class="collapse-text">We only collect your email when authenticating as well as your first and last name for displaying to you and other users. The information about your matches are stored as hashes and cross-referenced to our database of emails for verification. So only you and your crush know that you've matched.</p>
                </div>
                <button type="button" class="collapsible">What if I do not get any matches?</button>
                <div class="collapse-content">
                    <p class="collapse-text">Do not fret! Since the website is in its early stages, as more users enter the site, the more your search space and potential crushes will increase. Alternatively, you can start a friendly interaction with Minerva students who are not in your friend group and it could be a match made in heaven. Read our <a href="/solution">solution</a> on how we plan on approaching this.</p>
                </div>
                <button type="button" class="collapsible">What do I do after I have matched with my crush?</button>
                <div class="collapse-content">
                    <p class="collapse-text">The website provides an option to set a date through Google Calendar (automatic calendar invites coming soon) after matching to set up a date with together.</p>
                </div>
                <button type="button" class="collapsible">What should I know before I sign up to the website?</button>
                <div class="collapse-content">
                    <p class="collapse-text">There are certain constraints set in place to minimize spam as much as possible. <br/><br/>Firstly, only Minerva based emails are allowed for authentication i.e. <span style="font-family: Courier New; color: #000;">@uni.minerva.edu</span>. <br/><br/>Secondly, each user can match upto a maximum of 3 other students and can make upto 3 changes in a 24 hour period. This is to ensure that a user cannot bruteforce their hidden matches. <br/><br/>Lastly, you can't see your if a user has added you as a crush until you have added them as your crush also.</p>
                </div>
            </div>
        </section>
    </body>
    <script src="{% static 'js/index.js' %}"></script>
</html>
