* {
    margin: 0;
    padding: 0;
}

section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
    margin-top: 48px;
    margin-bottom: 16px;
    clear: both;
    color: #161E2A;
    font-family: "Oxygen", sans-serif;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0px;
}

h3 {
    font-size: 1em;
    margin: 0.67em 0;
    margin-top: 48px;
    margin-bottom: 16px;
    clear: both;
    color: #fff;
    font-family: "Oxygen", sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
    padding-left: 72px;
    padding-right: 72px;
}

@media (min-width: 641px){
    h1{
        font-size: 44px;
        line-height: 54px;
        letter-spacing: 0px;
    }
}

img {
    border-style:none;
}

canvas{
    display:inline-block;
}

.text-light{
    color:#fff;
}

.text-light h1 {
    color: #fff !important;
}

.inner-container{
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 100vw;
}

@media (min-width: 481px){
    .inner-container{
        padding-left: 20vw;
        padding-right: 20vw;
        max-width: 100vw;
    }
    .faq-container{
        padding-left: 24px;
        padding-right: 24px;
    }
}
.text-center{
    text-align: center;
}
.mt-0{
    margin-top: 0;
}

.authenticate-button{
    padding: 30px;
    min-width: 96px;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    line-height: 28px;
    border-radius: 50px;
    flex-direction: row;
    -ms-flex-align: center;
    display: inline-flex;
    margin-top: 1rem;
    font-family: "Oxygen", sans-serif;
    font-size: 16px;
    font-weight: 500;
    box-shadow: none;
    height: 0.5rem;
    width: 15rem;
    color: white;
    background-color: #FE3447;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

.header{
    position: relative;
    padding-top: 128px;
    padding-bottom: 88px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.header .background{
    position: absolute;
    top: 0;
    bottom: 42%;
    left: 0;
    right: 0;
    background: #0B0D19;
    z-index: -2;
    height: 100%;
    width: 100%;
}
.header .hero-particles-container {
    position: absolute;
    top: 0;
    bottom: 42%;
    left: 0;
    right: 0;
}
.header-text {
    position: relative;
    z-index: 1;
}
.header-margin {
    position: relative;
    margin-bottom: 48px;
}

@media (min-width: 641px){
    .header{
        padding-top: 160px;
        padding-bottom: 128px;
    }
    .header-margin {
        margin-bottom:88px;
    }
    h3 {
        padding-left: 72px;
        padding-right: 72px;
    }
}

.faq-container{
    margin: 0 auto;
    padding-left: 20vw;
    padding-right: 20vw;
}

.collapsible {
    background-color: #1B1F3C;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid black;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #1B1F58;
}

.collapse-content {
    padding: 18px 18px;
    display: none;
    overflow: hidden;
    background-color: #E8E7E7;
}

.faq-text {
    font-size: 1.5em;
    margin: 0.67em 0;
    margin-top: 48px;
    margin-bottom: 16px;
    clear: both;
    color: #fff;
    font-family: "Oxygen", sans-serif;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0px;
    float: left;
}

.collapse-text {
    color: black;
    text-align: left;
    font-size: 16px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
}