* {
    margin: 0;
    padding: 0;
}

section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
    margin-top: 48px;
    margin-bottom: 16px;
    clear: both;
    color: #161E2A;
    font-family: "Oxygen", sans-serif;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0px;
}

h3 {
    font-size: 1em;
    margin: 0.67em 0;
    margin-top: 48px;
    margin-bottom: 16px;
    clear: both;
    color: #fff;
    font-family: "Oxygen", sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
    padding-left: 72px;
    padding-right: 72px;
}

h5{
    margin: 0;
    color: #fff;
    font-size: inherit;
    font-weight: inherit;
    font-family: "Oxygen", sans-serif;
}

small{
    color: #fff;
    font-size: 80%;
    font-family: "Oxygen", sans-serif;
}

p {
    color: #fff;
    font-size: 13px;
    font-family: "Oxygen", sans-serif;
}

button {
    display: inline-block;
    border: none;
}

@media (min-width: 641px){
    h1{
        font-size: 44px;
        line-height: 54px;
        letter-spacing: 0px;
    }
}

img {
    border-style:none;
}

canvas{
    display:inline-block;
}

.text-light{
    color:#fff;
}

.text-light h1 {
    color: #fff !important;
}

.inner-container{
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 100vw;
}

@media (min-width: 481px){
    .inner-container{
        padding-left: 20vw;
        padding-right: 20vw;
        max-width: 100vw;
    }
    .faq-container{
        padding-left: 24px;
        padding-right: 24px;
    }
}
.text-center{
    text-align: center;
}
.mt-0{
    margin-top: 0;
}

.authenticate-button{
    padding: 30px;
    min-width: 96px;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    line-height: 28px;
    border-radius: 50px;
    flex-direction: row;
    -ms-flex-align: center;
    display: inline-flex;
    margin-top: 1rem;
    font-family: "Oxygen", sans-serif;
    font-size: 16px;
    font-weight: 500;
    box-shadow: none;
    height: 0.5rem;
    width: 15rem;
    color: white;
    background-color: #FE3447;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

.header{
    position: relative;
    padding-top: 128px;
    padding-bottom: 88px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.header .background{
    position: absolute;
    top: 0;
    bottom: 42%;
    left: 0;
    right: 0;
    background: #0B0D19;
    z-index: -2;
    height: 100%;
    width: 100%;
}
.header .hero-particles-container {
    position: absolute;
    top: 0;
    bottom: 42%;
    left: 0;
    right: 0;
}
.header-text {
    position: relative;
    z-index: 1;
}
.header-margin {
    position: relative;
    margin-bottom: 48px;
}

@media (min-width: 641px){
    .header{
        padding-top: 160px;
        padding-bottom: 128px;
    }
    .header-margin {
        margin-bottom:88px;
    }
    h3 {
        padding-left: 72px;
        padding-right: 72px;
    }
}

.faq-container{
    margin: 0 auto;
    padding-left: 20vw;
    padding-right: 20vw;
}

.collapsible {
    background-color: #1B1F3C;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid black;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #1B1F58;
}

.collapse-content {
    padding: 18px 18px;
    display: none;
    overflow: hidden;
    background-color: #E8E7E7;
}

.faq-text {
    font-size: 1.5em;
    margin: 0.67em 0;
    margin-top: 48px;
    margin-bottom: 16px;
    clear: both;
    color: #fff;
    font-family: "Oxygen", sans-serif;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0px;
    float: left;
}

.collapse-text {
    color: black;
    text-align: left;
    font-size: 16px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
}

.user {
    display: flex;
    margin-top: auto;
}

.user .profile-image {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin-right: 20px;
}
.user-info {
    margin: 0;
    color: #545d7a;
}

profile-image{
    border-style: none;
    border-style: solid;
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
}

.card {
    --bg-opacity: 1;
    background-color: #0B0D19;
    border-radius: 0.5rem;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    float: left;
    display: flex;
    width: 60vw;
}

.card-container {
    padding: 1.5rem;
    width: 65vw;
}

@media (max-width:768px){
    .card {
        flex-direction: column;
        width: 100%%;
    }
    .card-container {
        width: 100%;
    }
}

.inner-card {
    padding: 1rem;
}

.dashboard-header {
    padding: 20px 10px;
    background-color: #0B0D19;
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
}
  
.dashboard-header a.logo {
    font-size: 25px;
    font-weight: bold;
}
    
.dashboard-header a:hover {
    background-color: #ddd;
    color: black;
}

.add-crush-button {
    font-size: 16px;
    font-family: "Oxygen", sans-serif;
    color: #fff;
    background-color: #0B0D19;
    cursor: pointer;
    justify-content: space-evenly;
    align-items: center;
    display: inline-flex;
    height: 40px;
    min-width: 96px;
    padding: 2px 10px 0;
    clear: both;
    text-decoration: none;
}

.add-crush-button-2 {
    font-size: 16px;
    font-family: "Oxygen", sans-serif;
    color: #fff;
    background-color: #0B0D19;
    cursor: pointer;
    justify-content: space-evenly;
    align-items: center;
    display: inline-flex;
    height: 40px;
    min-width: 96px;
    width: calc(100% - 20px);
    padding: 1.5rem 10px;
    margin: 0;
    clear: both;
    text-decoration: none;
}

.logout-button {
    font-size: 16px;
    font-family: "Oxygen", sans-serif;
    color: #1B1F58;
    background-color: #fff;
    cursor: pointer;
    justify-content: space-evenly;
    align-items: center;
    display: inline-flex;
    height: 40px;
    min-width: 96px;
    padding: 2px 10px 0;
    text-decoration: none;
}
  
.header-right {
    float: right;
}

.text-logo {
    font-size: 1.6rem; 
    font-weight: 600; 
    font-family: 'Trebuchet MS', sans-serif; 
    color: #fff; 
    display: inline-block; 
    vertical-align: middle;
}

.dashboard-header-text {
    float: left; 
    height: 2rem; 
    display: flex; 
    align-items: center; 
    justify-content: 
    center; width: 80vw;
}

.logo {
    float: left; 
    height: 2.5rem; 
    width: auto; 
    padding: 0 1rem;
}
  
@media screen and (max-width: 500px) {
    .dashboard-header a {
        float: none;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

.tab-row:after, tab-row:before {
    content: "";
    display: table;
    clear: both;
}

.tab-row {
    text-align: center;
    display: flex;
    justify-content: center;
}

.tab-width {
    width: 30vw;
}

.tab-title {
    float: left;
    width: 100%;
    padding: 0 8px;
    color: #000;
    font-family: "Oxygen", sans-serif;
    border-bottom: 6px solid #ccc !important;
    padding: 8px 0 !important;
}

.tab-title:hover {
    color: #000!important;
    background-color: #f1f1f1 !important;
}

.tab-container:before, tab-container:after {
    content: ""; 
    display: table;
    clear: both;
}

.tab-container {
    width: 100%;
    justify-content: center;
}

.red-border {
    border-color: #FE3447 !important;
}

.middle-section {
    padding: 2rem;
    width: 80vw;
    height: 20vh;
    margin: auto;
}

.centered {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Oxygen", sans-serif;
}

.crush-div {
    min-height: 230px;
    height: 30vh;
    float: left;
    display: grid;
    margin: 20px 20px 20px 0;
    width: 300px;
    flex-direction: row;
}

@media (max-width: 910px) {
    .crush-div {
        width: 60vw;
    }
}

.top-div {
    position:absolute;
}

.bottom-div {
    position: relative;
    top: 3rem;
}

.bottom-div-2 {
    padding-bottom: 2rem;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-title-1 {
    color: black; 
    font-size: 20px; 
    font-family: "Oxygen", sans-serif; 
    font-weight: 600;
    padding-top: 5px;
}

.modal-title {
    color: black; 
    font-size: 15px; 
    font-family: "Oxygen", sans-serif; 
    font-weight: 600;
    padding-top: 20px;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem 3rem;
    width: 24rem;
    max-height: 80vh;
    overflow: auto;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.crush-input {
    width: -webkit-fill-available;
    height: 1.5rem;
    padding: 3px;
    margin-top: 20px;
    font-size: 16px;
}

.result-card {
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr;
    align-items: center;
    padding: 10px 00px 10px 10px;
    margin-top: 10px;
    overflow: hidden;
    border: 1px solid grey;
    cursor: pointer;
    background-color: #fff;
    width: 100%;
    text-align: left;
}

.result-picture {
    max-width: 100%;
    width: 30px;
    border-radius: 50%;
}

.result-name {
    color: #0B0D19;
    font-weight: 600;
    font-size: 16px;
    margin-left: 12px;
    font-family: "Oxygen", sans-serif;
}

.result-email {
    color: #0B0D19;
    font-weight: 400;
    font-size: 13px;
    margin-left: 12px;
    font-family: "Oxygen", sans-serif;
}

.error-message {
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    float: left;
    padding: 10px;
    height: 0.5rem;
    margin: 10px 0;
    width: -webkit-fill-available;
    align-items: center;
    display: flex;
}

.error-text {
    color: #cc0033;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 1px 1px rgba(250,250,250,.3);
}

.name-container {
    background-color: #1B1F3C;
    height: 1rem;
    align-items: center;
    display: flex;
    padding: 1rem;
}

.crush-container {
    width: 17vw;
}

.crush-container .container-profile {
    display: flex;
    align-items: center;
    padding: 20px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background: #1B1F3C;
}
.crush-container .container-profile .container-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    margin-right: 10px;
}

.crush-list {
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

.upper-div {
    width: 100%;
}

@media (max-width: 907px){
    .upper-div{
        flex-direction: row;
        justify-content: center;
        padding: 1rem;
        align-items: center;
        justify-content: center;
        display: grid;
    }
    .bottom-div-2 {
        margin-left: 30px;
    }
}

.profile-card {
    --background: #000;
    --text: #fff;
    background-color: #0B0D19;
    position: relative;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .05);
}
.profile-card .multi-button {
    z-index: 0;
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    border-radius: 100%;
    width: 0rem;
    height: 0rem;
    translate(-15%, -15%)
    transition: 0.25s cubic-bezier(0.25, 0, 0, 1);
}
.profile-card .container {
    position: absolute;
    width: 12rem;
    height: 15rem;
    border-radius: 1rem;
    background: var(--background);
    color: var(--text);
}
.profile-card .multi-button button {
    display: grid;
    place-items: center;
    position: absolute;
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 100%;
    background: var(--background);
    color: var(--text);
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.25s cubic-bezier(0.25, 0, 0, 1);
    box-shadow: 0 0 0rem -0.25rem var(--background);
}
.profile-card .multi-button button:hover {
    background: var(--text);
    color: var(--background);
    box-shadow: 0 0 1rem -0.25rem var(--background);
}
.profile-card .multi-button button:first-child:nth-last-child(1) {
    left: 25%;
    top: 25%;
}
.profile-card .multi-button button:first-child:nth-last-child(2):nth-child(1), .profile-card .multi-button button:first-child:nth-last-child(2) ~ *:nth-child(1) {
    left: 37.5%;
    top: 18.75%;
}
.profile-card .multi-button button:first-child:nth-last-child(2):nth-child(2), .profile-card .multi-button button:first-child:nth-last-child(2) ~ *:nth-child(2) {
    left: 18.75%;
    top: 37.5%;
}
.profile-card .multi-button button:first-child:nth-last-child(3):nth-child(1), .profile-card .multi-button button:first-child:nth-last-child(3) ~ *:nth-child(1) {
    left: 50%;
    top: 15.625%;
}
.profile-card .multi-button button:first-child:nth-last-child(3):nth-child(2), .profile-card .multi-button button:first-child:nth-last-child(3) ~ *:nth-child(2) {
    left: 25%;
    top: 25%;
}
.profile-card .multi-button button:first-child:nth-last-child(3):nth-child(3), .profile-card .multi-button button:first-child:nth-last-child(3) ~ *:nth-child(3) {
    left: 15.625%;
    top: 50%;
}
.profile-card .multi-button button:first-child:nth-last-child(4):nth-child(1), .profile-card .multi-button button:first-child:nth-last-child(4) ~ *:nth-child(1) {
    left: 62.5%;
    top: 18.75%;
}
.profile-card .multi-button button:first-child:nth-last-child(4):nth-child(2), .profile-card .multi-button button:first-child:nth-last-child(4) ~ *:nth-child(2) {
    left: 37.5%;
    top: 18.75%;
}
.profile-card .multi-button button:first-child:nth-last-child(4):nth-child(3), .profile-card .multi-button button:first-child:nth-last-child(4) ~ *:nth-child(3) {
    left: 18.75%;
    top: 37.5%;
}
.profile-card .multi-button button:first-child:nth-last-child(4):nth-child(4), .profile-card .multi-button button:first-child:nth-last-child(4) ~ *:nth-child(4) {
    left: 18.75%;
    top: 62.5%;
}
.profile-card:hover .multi-button, .profile-card .multi-button:focus-within {
    width: 10rem;
    height: 10rem;
}
